.secondsec {
        text-align: center;
        align-items: center;
        border-right: lightgrey 1px solid;
    .bgcolor {
            background: white;
            padding-bottom: 50px;
            height: 100%;
        }
    h4 {
        color: #898d91;
        padding-bottom: 20px;
        padding-top: 30px;
    }

    h2 {
        text-transform: uppercase;
        font-family: 'Merriweather sans';
        letter-spacing: 1px;
        padding-bottom: 20px;
        font-size: 2rem;
    }

    p {
        font-style: italic;
        font-family: 'Merriweather';
        font-weight: 300 italic;
        padding : 0 10px 20px;
    }
   
    .secondpic {
        background: url(../../assets/images/pic02.jpg) center/cover;
        z-index: 2;
        height: 300px;
        margin: auto auto 20px auto;
        width: 70%;
     }

     button {
         color: black;
         background: white;
         border: solid;
         font-family: 'Merriweather';
         letter-spacing: 1px;
         text-transform: uppercase;
         padding: 15px 20px 15px 20px;
     }
}

